# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Jumia.settings

[deploy:Spider_Jumia]
url = http://97.64.27.242:6800/
project = Jumia